.container-fluid
  .row.bg-success
    .col.font-italic.text-light.text-center
      %h4 日本酒リスト
.container-fluid
  .row
    .col-1
    .col
      %table.table.table-striped
        %thead
          %tr
            %th{scope: "col", class: "sake_name"} 商品名
            %th{scope: "col", class: "sake_price"} 価格
            %th{scope: "col", class: "sake_prefecture"} 都道府県
            %th{scope: "col", class: "sake_comment"} コメント
        %tbody{class: "sake_list"}
          - @sakes.each do |sake|
            %tr
              %td
                = sake.name
              %td
                = sake.price
              %td
                = sake.prefecture
              %td
                = sake.comment
    .col-1