.main_icon{
  background-image: image-url("icon/wine-2891894_1920.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
  color: white;
}

.title_btn{
  margin-left: 10px;
  font-size: 18px;
  padding-top: 10px;
}
// showのテーブル幅
.table_width{
  width: 30%;
}
.price_width{
  width: 20%;
}
.comment_width{
  width: 50%;
}
.sake_name{
  width: 20%;
}
.sake_price{
  width: 10%;
}
.sake_prefecture{
  width: 15%;
}
.sake_comment{
  width: 45%;
}
.wine_name{
  width: 22%;
}
.wine_price{
  width: 10%;
}
.wine_type{
  width: 5%;
}
.wine_area{
  width: 14%;
}
.wine_variety{
  width: 19%;
}
.wine_comment{
  width: 24%;
}
